<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Simple-Flask{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="banner">
        <div class="banner-title">Simple-Flask</div>
        <div class="banner-buttons">
            <a href="{{ url_for('home.home') }}" class="banner-button">Home</a>
            <a href="https://github.com/FuReAsu/simple-flask.git" class="banner-button" rel="noopener noreferrer" target="_blank">GitHub</a>
        </div>
    </div>

    <div class="page">
        {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>
</html>
