{% extends "base.html" %}

{% block title %}Home - Simple-Flask{% endblock %}

{% block content %}
    <header>
        <h1>Simple-Flask</h1>
        <h2>Select a page</h2>
    </header>

    <div class="card">
        <ul class="routes">
            {% for name, url in routes.items() %}
                <li>
                    <a href="{{ url }}" class="route-button">
                        {{ name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
